PORT=10009

LOG_LEVEL=INFO

LLM_MODEL=openai/zai-org/GLM-4.6
LLM_API_BASE=https://foundation-models.api.cloud.ru/v1
LLM_API_KEY=YjE0NWE...

AGENT_NAME=worker
AGENT_DESCRIPTION=worker
AGENT_VERSION=v1.0.0

URL_AGENT=http://localhost:10009


ENABLE_PHOENIX=false
PHOENIX_ENDPOINT=http://localhost:6006/v1/traces
PHOENIX_PROJECT_NAME=devops_agent
MCP_URL=http://localhost:8000/sse



